<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta name="user-token" content={@conn.assigns[:user_token]} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Playground" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <div class="w-full">
      <nav class="bg-gray-800 px-8 h-20 flex justify-between">
        <ul class="flex gap-8">
          <li class="flex items-center">
            <.link navigate={~p"/"} class="text-white font-mono text-xl">Home</.link>
          </li>
          <li class="flex items-center">
            <.link navigate={~p"/info"} class="text-white font-mono text-xl">Info</.link>
          </li>
          <%= if @conn.assigns[:current_user] do %>
            <li class="flex items-center">
              <.link navigate={~p"/rooms"} class="text-white font-mono text-xl">Rooms</.link>
            </li>
          <% end %>
        </ul>

        <ul class="flex gap-8">
          <li class="flex items-center gap-2">
            <%= if @conn.assigns[:current_user] do %>
              <.link navigate={~p"/auth/signout"} class="text-white font-mono text-xl">Signout</.link>
              <.user_avatar user={@conn.assigns[:current_user]} size="xl" />
            <% else %>
              <.link navigate={~p"/auth/signin/github"} class="text-white font-mono text-xl">Signin</.link>
            <% end %>
          </li>
        </ul>
      </nav>
    </div>
    <%= @inner_content %>
  </body>
</html>
