<script>window.userToken = "<%= @conn.private.plug_session["user_token"] %>";</script>

<style>
    body {
        overflow: hidden;
    }
</style>

<section class="h-full min-h-screen pt-20 bg-gray-200">
    <div id="canvas"></div>
    <div class="w-1/4 bg-slate-500 absolute right-0 top-0 h-screen pt-20">
        <div class="p-4">
            <.canvas_form />
        </div>
    </div>
</section>

<script defer phx-track-static type="text/javascript" src={~p"/assets/pages/canvas.js"} />
