main page

<!--
import Ecto.UUID

@impl true
def handle_in("dot:create", %{"dot" => dot}, socket) do
  new_dot =
    dot
    |> Map.put("id", generate())

  broadcast!(socket, "dot:created", %{dot: new_dot})
  {:noreply, socket}
end
-->
