<div>
  <.form
    for={@form}
    phx-target={@myself}
    phx-change="message_form:validate"
    phx-submit="message_form:create"
    class="grid grid-cols-[1fr_auto] gap-2"
  >
    <.input field={@form[:content]} type="text" placeholder="Message" />
    <.button type="submit" phx-disable-with="Saving...">Send</.button>
  </.form>
</div>
