<div class="flex flex-col gap-6">
    <.header class="text-center">Room List</.header>
    <.live_component
        module={PlaygroundWeb.RoomFormComponent}
        id="new_room_form"
        user_id={@current_user.id}
    />

    <.room_list rooms={@rooms} />
</div>
